﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="üye.aspx.cs" Inherits="stoktakip.üye" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
       <asp:Label ID="lblhata" runat="server" Text="Label"></asp:Label>
        <asp:DataList ID="DataList1" runat="server" RepeatColumns="0">
            <ItemTemplate>
               STOK ADI=<%#Eval("STOK_ADI") %><br />STOK MODELİ=<%#Eval("STOK_MODELI") %><br />STOK ADEDİ=<%#Eval("STOK_ADEDİ ")%><br /><asp:Button ID="btdüzenle" runat="server" Text="düzenle" />
                <asp:Button ID="btndüzenle" runat="server" Text="düzenle" />
                <br />
                <br />
            </ItemTemplate>
        </asp:DataList>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:DataList ID="DataList2" runat="server" RepeatColumns="0">
            <ItemTemplate>

                CikisMiktari=<%#Eval("CikisMiktari") %><br />ToplamMiktar=<%#Eval("ToplamMİktar")%><br />GirisMiktari=<%#Eval("GirisMiktari" )%><br></br>

                <asp:Button ID="btndüzenle" runat="server" Text="düzenle" />
                <asp:Button ID="btndüzenle" runat="server" Text="düzenle" />
                <br />
                <br />
                <ItemStyle backColor="yellow" />
            </ItemTemplate>
        </asp:DataList>

         
              
  </form> 
</body>
</html>
